/* creating variables  */
:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #030722;
    --color-secondary: #221a52;
    --color-dark: #060525;
    --color-bg: #121343;


    /* fonts */
    --font-robot: 'Roboto';
}

body {
    cursor: default;
}